section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid rgb(0, 0, 0);
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  /* TODO: Add a margin property */
  /* TODO: Add a padding property */
  /* TODO: Add a border property */
  margin: 10px;
  padding: 10px;
  border: 10px solid red;

}
